

.top-center-text {
    margin: auto;
    background-color: #fff;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    width: 80%;
    /*transition: top 0.3s ease-in-out;*/ /* Add a smooth transition for the 'top' property */
}
