<!DOCTYPE html>
<html>
<head>
    <title>Typing Timer</title>
    <!-- Add Bootstrap CSS from a CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Typing Timer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Home</a>
                </li>
                <li class="nav-item" id="login-button-container">
                    <!-- Placeholder for the login button -->
                </li>
                <li class="nav-item" id="signup-button-container">
                    <!-- Placeholder for the sign-up button -->
                </li>
                <li class="nav-item" id="logout-button-container">
                    <!-- Placeholder for the logout button -->
                </li>
                <li class="nav-item ml-auto order-1" id="email-display-container">
                    <!-- Content for the email display or logout button -->
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div id="datetime-display" class="text-right">
                    <!-- Date and time will be displayed here -->
                </div>
                <h1>Welcome to Typing Timer</h1>
                <p id="timer">Time passed: 0 typebits</p>
                <button id="start-button" class="btn btn-primary">Start</button>
                <button id="exit-button" class="btn btn-danger">Exit</button>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JavaScript and Popper.js from CDNs -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- Your script.js file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='scriptTimer.js') }}"></script>


</body>
</html>
