<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <!-- Add Bootstrap CSS from a CDN -->
    <link rel="stylesheet" href="../static/stylesShop.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script> <!---by mattboldt github-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>
    <!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Astroductivity</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Timer</a>
                </li>
                <li class="nav-item" id="login-button-container">
                    <!-- Placeholder for the login button -->
                </li>
                
                <li class="nav-item" id="logout-button-container">
                    <!-- Placeholder for the logout button -->
                </li>
                <li class="nav-item" id="signup-button-container">
                    <!-- Placeholder for the sign-up button -->
                </li>
                <li class="nav-item" id="shop-button-container">
                    <!-- Placeholder for the sign-up button -->
                </li>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="navbar-text" id="email-display-container">
                    <!-- Content for the email display or logout button -->
                </span>
            </ul>
        </div>
    </div>
</nav>

<audio id="triggerBought-audio" autoplay>
    <source src="../static/audio/ClickJingle.mp3" type="audio/mpeg"> 
    <!--Sound Effect by <a href="https://pixabay.com/users/universfield-28281460/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=124467">UNIVERSFIELD</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=124467">Pixabay</a>--->
    Your browser does not support the audio element.
</audio> 


<!-- Shop Section -->
<div class="text-container-shop">
<div class="container pt-4">
    <div class="mb-3 top-center-text">
        Total AstroCoins: <span id="totalAstroCoinsValue">Loading...</span>
    </div>

    <div class="row">
        <!-- Product Card 1 -->
        <div class="col-12 col-md-6">
            <div class="card mb-3 d-flex flex-column">
                <div class="row g-0" >
                    <div class="col-md-4 border border-primary d-flex justify-content-center align-items-center">
                        <img src="/static/images/planets/moon-Eugene.png" class="card-img fixed-image p-4 " alt="Product 1">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Moon</h5>
                            <p class="card-text">The Moon, Earth's celestial companion, captivates with its gentle silver glow and stands alone as the only place beyond our planet where humans have left their footprints, a silent witness to our eternal yearning for the stars.</p>
                       
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Price: 0 AstroCoins</p>
                            <button type="button" id="moonButton" class="btn btn-secondary buy-button" data-bs-toggle="modal" data-bs-target="#buyConfirmationModal" data-item-name="Moon" data-item-value="0">
                                <span id="moonBuyStatus">Buy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Card 2 -->
        <div class="col-12 col-md-6">
            <div class="card mb-3 d-flex flex-column">
                <div class="row g-0">
                    <div class="col-md-4 border border-primary d-flex justify-content-center align-items-center">
                        <img src="/static/images/planets/Earth.jpg" class="card-img fixed-image p-4 " alt="Product 1">
                        <!--https://clipart-library.com/clipart/zcXobedoi.htm-->
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Earth</h5>
                            <p class="card-text">Earth, the vibrant "Blue Planet" teeming with life, sets itself apart as the only known oasis in the cosmos where the dance of oceans, continents, and life has crafted a symphony of diversity amid the celestial silence.</p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Price: 500 AstroCoins</p>
                            <button type="button" id="earthButton" class="btn btn-secondary buy-button" data-bs-toggle="modal" data-bs-target="#buyConfirmationModal" data-item-name="Earth" data-item-value="500">
                                <span id="earthBuyStatus">Buy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Card 3 -->
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 border border-primary d-flex justify-content-center align-items-center">
                        <img src="/static/images/planets/Mercury.png" class="card-img fixed-image p-4 " alt="Product 1">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Mercury</h5>
                            <p class="card-text">Mercury, the scorched messenger of the Sun, boasts a surface scoured by meteorite impacts and stands as the ultimate test of planetary extremes, with searing daytime temperatures and chilling nights that defy imagination.</p>
                            <!--https://clipart-library.com/clipart/720175.htm-->
                          
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Price: 500 AstroCoins</p>
                            <button type="button" id="mercuryButton" class="btn btn-secondary buy-button" data-bs-toggle="modal" data-bs-target="#buyConfirmationModal" data-item-name="Mercury" data-item-value="500">
                                <span id="mercuryBuyStatus">Buy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Card 4 -->
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 border border-primary d-flex justify-content-center align-items-center">
                        <img src="/static/images/planets/Venus.png" class="card-img fixed-image p-4 " alt="Product 1">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Venus</h5>
                            <p class="card-text">Venus, the shimmering "Evening Star," cloaked in thick, toxic clouds and boasting a scorching, uninhabitable surface, mystifies as the Earth's twin turned upside down, a planetary enigma veiled in beauty and extreme hostility.</p>
                            <!--Image by <a href="https://pixabay.com/users/clker-free-vector-images-3736/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=26620">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=26620">Pixabay</a>-->
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Price: 1000 AstroCoins</p>
                            <button type="button" id="venusButton" class="btn btn-secondary buy-button" data-bs-toggle="modal" data-bs-target="#buyConfirmationModal" data-item-name="Venus" data-item-value="1000">
                                <span id="venusBuyStatus">Buy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Card 5 -->
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 border border-primary d-flex justify-content-center align-items-center">
                        <img src="/static/images/planets/Jupiter.png" class="card-img fixed-image p-4 " alt="Product 1">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Jupiter</h5>
                            <p class="card-text">Jupiter, the colossal gas giant adorned with mesmerizing bands and crowned by the tempestuous Great Red Spot, commands its own miniature solar system of moons and stands as the guardian giant of our cosmic neighborhood.</p>
                            <!--https://clipart-library.com/clipart/720175.htm-->
                          
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Price: 500 AstroCoins</p>
                            <button type="button" id="jupiterButton" class="btn btn-secondary buy-button" data-bs-toggle="modal" data-bs-target="#buyConfirmationModal" data-item-name="Jupiter" data-item-value="500">
                                <span id="jupiterBuyStatus">Buy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Card 6 -->
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 border border-primary d-flex justify-content-center align-items-center">
                        <img src="/static/images/planets/Saturn.png" class="card-img fixed-image p-4 " alt="Product 1">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Saturn</h5>
                            <p class="card-text">
                                Saturn, with its resplendent rings, stands as the celestial jewel of our solar system, an iconic beauty unmatched by any other planet.</p>
                            <!--Image by <a href="https://pixabay.com/users/clker-free-vector-images-3736/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=26620">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=26620">Pixabay</a>-->
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Price: 1000 AstroCoins</p>
                            <button type="button" id="saturnButton" class="btn btn-secondary buy-button" data-bs-toggle="modal" data-bs-target="#buyConfirmationModal" data-item-name="Saturn" data-item-value="1000">
                                <span id="saturnBuyStatus">Buy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Card 7 -->
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 border border-primary d-flex justify-content-center align-items-center">
                        <img src="/static/images/planets/Uranus.png" class="card-img fixed-image p-4 " alt="Product 1">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Uranus</h5>
                            <p class="card-text">Uranus, the mysterious ice giant, rolls through the cosmos like a cosmic somersault, spinning uniquely on its side and defying the conventional orientation of the planets in our solar system.</p>
                            <!--https://clipart-library.com/clipart/720175.htm-->
                          
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Price: 500 AstroCoins</p>
                            <button type="button" id="uranusButton" class="btn btn-secondary buy-button" data-bs-toggle="modal" data-bs-target="#buyConfirmationModal" data-item-name="Uranus" data-item-value="500">
                                <span id="uranusBuyStatus">Buy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Card 8 -->
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 border border-primary d-flex justify-content-center align-items-center">
                        <img src="/static/images/planets/Neptune.png" class="card-img fixed-image p-4 " alt="Product 1">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Neptune</h5>
                            <p class="card-text">
                                Neptune, the deep-blue enigma, conceals tumultuous storms in its azure atmosphere, making it the most windswept and dynamically complex world in our solar system.</p>
                            <!--Image by <a href="https://pixabay.com/users/clker-free-vector-images-3736/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=26620">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=26620">Pixabay</a>-->
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Price: 1000 AstroCoins</p>
                            <button type="button" id="neptuneButton" class="btn btn-secondary buy-button" data-bs-toggle="modal" data-bs-target="#buyConfirmationModal" data-item-name="Neptune" data-item-value="1000">
                                <span id="neptuneBuyStatus">Buy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Card 9 -->
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 border border-primary d-flex justify-content-center align-items-center">
                        <img src="/static/images/planets/Pluto.png" class="card-img fixed-image p-4 " alt="Product 1">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Pluto</h5>
                            <p class="card-text">Pluto, the distant and diminutive dwarf planet, orbits in the mysterious Kuiper Belt, revealing itself as a world of intrigue among the icy remnants at the fringes of our cosmic neighborhood.</p>
                            <!--https://clipart-library.com/clipart/720175.htm-->
                          
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Price: 500 AstroCoins</p>
                            <button type="button" id="plutoButton" class="btn btn-secondary buy-button" data-bs-toggle="modal" data-bs-target="#buyConfirmationModal" data-item-name="Pluto" data-item-value="500">
                                <span id="plutoBuyStatus">Buy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Card 10 -->
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 border border-primary d-flex justify-content-center align-items-center">
                        <img src="/static/images/planets/Proxima.png" class="card-img fixed-image p-4 " alt="Product 1">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Proxima Centauri B</h5>
                            <p class="card-text">
                                Proxima Centauri B, nestled in the closest known star system to our own, tantalizes as the nearest potentially habitable exoplanet, inviting dreams of interstellar exploration and the search for life beyond Earth.</p>
                            <!--Image by <a href="https://pixabay.com/users/clker-free-vector-images-3736/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=26620">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=26620">Pixabay</a>-->
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Price: 1000 AstroCoins</p>
                            <button type="button" id="proximaButton" class="btn btn-secondary buy-button" data-bs-toggle="modal" data-bs-target="#buyConfirmationModal" data-item-name="Proxima" data-item-value="1000">
                                <span id="proximaBuyStatus">Buy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Card 9 -->
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 border border-primary d-flex justify-content-center align-items-center">
                        <img src="/static/images/planets/Cancrie.png" class="card-img fixed-image p-4 " alt="Product 1">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">55 Cancri e</h5>
                            <p class="card-text">55 Cancri e, the "Diamond Planet," dazzles in the night sky as a world of scorching extremes, with surface temperatures that would vaporize metal and the possibility of vast crystalline landscapes unlike anything found on Earth.</p>
                            <!--https://clipart-library.com/clipart/720175.htm-->
                          
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Price: 500 AstroCoins</p>
                            <button type="button" id="cancrieButton" class="btn btn-secondary buy-button" data-bs-toggle="modal" data-bs-target="#buyConfirmationModal" data-item-name="Cancrie" data-item-value="500">
                                <span id="cancrieBuyStatus">Buy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Card 10 -->
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 border border-primary d-flex justify-content-center align-items-center">
                        <img src="/static/images/planets/Sun.png" class="card-img fixed-image p-4 " alt="Product 1">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Sun</h5>
                            <p class="card-text">
                                The Sun, a searing celestial inferno at the heart of our solar system, reigns as the sole star that bathes the planets in life-sustaining warmth and light, distinguishing itself as the radiant source of all energy and existence.</p>
                            <!--Image by <a href="https://pixabay.com/users/clker-free-vector-images-3736/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=26620">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=26620">Pixabay</a>-->
                        </div>
                        <div class="card-footer">
                            <p class="card-text">Price: 1000 AstroCoins</p>
                            <button type="button" id="sunButton" class="btn btn-secondary buy-button" data-bs-toggle="modal" data-bs-target="#buyConfirmationModal" data-item-name="Sun" data-item-value="1000">
                                <span id="sunBuyStatus">Buy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--------------------------------------------------------------------->
</div>     
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="buyConfirmationModal" tabindex="-1" aria-labelledby="buyConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buyConfirmationModalLabel">Confirm Purchase</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to purchase <span id="itemName"></span> for <span id="itemValue"></span> AstroCoins?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary clickSuccessPurchase" id="confirmPurchaseButton">Confirm</button>
            </div>
        </div>
    </div>
</div>


<!-- Purchase Confirmation Modal -->
<div class="modal fade" id="purchaseSuccessModal" tabindex="-1" aria-labelledby="purchaseSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="purchaseSuccessModalLabel">Purchase Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="itemValue2"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showDeleteAccModalSvg" tabindex="-1" aria-labelledby="exampleDeleteAccModal"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleDeleteAccModal">Delete Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your account?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteAccount">Delete</button>
                </div>
            </div>
        </div>
    </div>
    



    <!-- Add Bootstrap JavaScript and Popper.js from CDNs -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='scriptShop.js') }}"></script>
    


</body>
</html>
